@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dosis&family=Red+Hat+Display&display=swap');


*{
    font-family: 'Croissant One', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    color: black;
    display: inline-block;
}

h2 {
    color: black;
    text-align: center;
}
.news-title{
    text-align: left;
}

.side-bar-title{
    text-align: center;
}

marquee {
    text-align: center;
    padding: 1%;
   
}

#search-bar {
    margin: 15px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.icon{
    height: 30px;
    margin: -15% auto;
    color: white;
    filter: invert(1);
}

