h1{
    color: black;
    display: inline-block;
}

h2 {
    color: black;
    text-align: center;
}
.news-title{
    text-align: left;
}

.side-bar-title{
    text-align: center;
}

marquee {
    text-align: center;
    padding: 1%;
   
}

#search-bar {
    margin: 15px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}