.nav-bar {
  height: 5%;
  padding: 10px;
}

.side-bar {
  background: greenyellow;
  height: 100%;
}

.contents-box {
  background: skyblue;
  height: 100%;
}

.placeholder-img {
  width: 50px;
  height: 50px;
}

.controlled-carousel-box {
  align-content: center;
  padding: 20px;
}

.slide-text {
  margin: 5px;
}

.slide-image {
  align-items: center;
  margin: 5px 5px 50px 0;
}

.sidebar-container {
  margin: 5px 0 0 20px;
  padding: 5px 0 5px 10px;
  display: center;
  
}

.news-row {
  margin: 10px 0 10px 5px;

}

.news-col {
  margin: 10px 0 10px 5px;
}

.image-news {
  width: 50px;
  height: 50px;
}