.nav-bar {
  height: 5%;
  padding: 10px;
}



.contents-box {
  background: skyblue;
  max-height: 100%;
}

.placeholder-img {
  width: 50px;
  height: 50px;
}

.controlled-carousel-box {
  align-content: center;
  padding: 20px;
}

.slide-text {
  margin: 5px;
}

.slide-image {
  align-items: center;
  margin: 5px 5px 50px 0;
}

.side-bar {
  background: rgb(251, 255, 255);
  width: 100%;
  height: 100%;
}

.sidebar-container {
  margin: 20px 0 20px 0;
  padding: 5px;
  text-align: center;
  
}

.news-section {
  margin: 5px 5px 20px 5px;
  padding: 5px;
  text-align: left;
}

.date-text {
  text-align: left;
}

.image-news {
  margin: 0 0 5px 0;
}
.content-paragraph {
  margin: auto;
  padding: auto;
}